:root {
    --primary-color: #f5ce52;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1{
    color: var(--primary-color);
}

p {
    color: black;
    text-align: center;
}

.btn{
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

.conversor-imagen{
    width: 150px;
}

.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

label{
    color: black;
}

.resultado{
    color: black;
        border: 0;
        font-size: 30px;
        text-align: right;
    }
input {
    border: 0;
    font-size: 30px;
    text-align: right;
}
